<md-dialog aria-label="Login" ng-cloak>

    <form name="loginForm" data-ng-submit="answer(firstname, lastname, mail, password, birthday, address, city, zip, country, phone)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Créer un compte</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Prénom</label>
                    <input ng-model="firstname" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nom</label>
                    <input ng-model="lastname" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Date de naissance</label>
                    <md-datepicker ng-model="birthday" required></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Mail</label>
                    <input ng-model="mail" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Adresse</label>
                    <input ng-model="address" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Ville</label>
                    <input ng-model="city" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Code postal</label>
                    <input ng-model="zip" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Pays</label>
                    <input ng-model="country" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Téléphone</label>
                    <input ng-model="phone" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Mot de passe</label>
                    <input ng-model="password" type="password" required>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-primary"
                       ng-class="{'md-raised md-hue-1': (loginForm.$dirty && loginForm.$valid) }"
                       aria-label="Créer">
                Créer
            </md-button>
            <md-button type="button" ng-click="cancel();"
                       aria-label="Annuler">
                Annuler
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
