<!DOCTYPE html>
<html lang="en" ng-app="ecomapp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Auto'Mobilité</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link href="css/angular-growl.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="controllerEcom as main">
    <div growl></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#reservation" ng-click="reservation()">Auto'Mobilité</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li ng-if="connectionInfo.connected == true" class="dropdown">
                    <a data-ng-cloak class="dropdown-toggle pointer" data-toggle="dropdown"><i class="fa fa-user"></i> {{connectionInfo.firstname}} {{connectionInfo.lastname}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="pointer"><i class="fa fa-fw fa-envelope"></i> Messages</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="pointer" ng-click="disconnect($event)"><i class="fa fa-fw fa-power-off"></i> Se déconnecter</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="connectionInfo.connected == false" class="">
                    <a class="pointer" ng-click="createAcc($event)"><i class="fa fa-user"></i> Créer un compte </b></a>
                </li>
                <li ng-if="connectionInfo.connected == false" class="">
                    <a class="pointer" ng-click="connect($event)"><i class="fa fa-user"></i> Se connecter </b></a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="{{classReservation}}">
                        <a href="#reservation" ng-click="reservation()"><i class="fa fa-fw fa-book"></i> Réservation</a>
                    </li>
                    <li ng-if="connectionInfo.connected == true" class="{{classMyReservations}}">
                        <a href="#myReservations" ng-click="myReservations()"><i class="fa fa-fw fa-history"></i> Mes réservations</a>
                    </li>
                    <li ng-if="connectionInfo.connected == true" class="{{classPreferences}}">
                        <a href="#preferences" ng-click="preferences()"><i class="fa fa-fw fa-cog"></i> Préférences</a>
                    </li>
                    <!-- <li class="{{classCars}}">
                        <a href="#cars" ng-click="ourcars()"><i class="fa fa-fw fa-car"></i> Nos voitures</a>
                    </li>-->
                    <li class="{{classAbout}}">
                        <a href="#about" ng-click="about()"><i class="fa fa-fw fa-users"></i> À propos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div ng-view class="container-fluid">



            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-simple-logger.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB-diDYJHF62_VW-X7FPlPLfscq27jcSG8"></script>

    <script src="js/lodash.js"></script>
    <script src="js/angular-google-maps.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/angular-growl.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.0/ui-bootstrap-tpls.js"></script>
    <script src="js/datetime-picker.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Controllers AgularJS -->
    <script src="js/controllers/ecom.js"></script>
    <script src="js/controllers/reservation.js"></script>
    <script src="js/controllers/myReservations.js"></script>
    <script src="js/controllers/preferences.js"></script>
    <script src="js/controllers/ourCars.js"></script>
    <script src="js/controllers/aPropos.js"></script>

</body>

</html>
