<div>
  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Mes réservations
          </h1>
      </div>
  </div>

  <div ng-cloak layout-gt-sm="row" layout="column">
    <div  flex-gt-sm="50"  flex>
      <md-toolbar ng-if="tripsTaxi === 'pending'" layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>En attente</span>
        </div>
      </md-toolbar>

      <md-toolbar ng-if="tripsTaxi.length === 0" layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>Aucune réservaion de taxi</span>
        </div>
      </md-toolbar>

      <md-toolbar ng-if="tripsTaxi.length > 0 && tripsTaxi !== 'pending'" layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>Les réservations en taxi</span>
        </div>
      </md-toolbar>

      <md-content ng-if="tripsTaxi.length > 0 && tripsTaxi !== 'pending'">
        <md-list flex>
          <md-list-item class="md-5-line" ng-repeat="tripTaxi in tripsTaxi">
            <md-divider></md-divider>
            <div class="md-avatar">
              {{$index+1}}
            </div>
            <div class="md-list-item-text" layout="column">
              <h4>Réservé le : {{ tripTaxi.dateOfReservation }}</h4>
              <h4>De : {{ tripTaxi.departureCity }}</h4>
              <h4>À : {{ tripTaxi.arrivalCity }}</h4>
              <h5>Date et horaire : {{ tripTaxi.date }}</h5>
              <p>Prix : {{ tripTaxi.price }} euros</p>
            </div>
          </md-list-item>
        </md-list flex>
      </md-content>
    </div>

    <md-divider></md-divider>

    <div  flex-gt-sm="50"  flex>
      <md-toolbar ng-if="tripsCarpooling === 'pending'" layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>En attente</span>
        </div>
      </md-toolbar>

      <md-toolbar ng-if="tripsCarpooling.length === 0" layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>Aucune réservation de covoiturage</span>
        </div>
      </md-toolbar>

      <md-toolbar ng-if="tripsCarpooling.length > 0 && tripsCarpooling !== 'pending'" layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>Les réservations en covoiturage</span>
        </div>
      </md-toolbar>

      <md-content ng-if="tripsCarpooling.length > 0 && tripsCarpooling !== 'pending'">
        <md-list flex>
          <md-list-item class="md-5-line" ng-repeat="tripCarpooling in tripsCarpooling">
            <md-divider></md-divider>
            <div class="md-avatar">
              {{$index+1}}
            </div>
            <div class="md-list-item-text" layout="column">
              <h4>Réservé le : {{ tripCarpooling.dateOfReservation }}</h4>
              <h4>De : {{ tripCarpooling.departureCity }}</h4>
              <h4>À : {{ tripCarpooling.arrivalCity }}</h4>
              <h5>Date et horaire : {{ tripCarpooling.date }}</h5>
              <p>Prix : {{ tripCarpooling.price }} euros</p>
            </div>
          </md-list-item>
        </md-list flex>
      </md-content>
    </div>
  </div>
</div>
